@import url("../reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");
@font-face {
  font-family: "pro";
  src: url("../font/GTPressuraMono.ttf") format("truetype");
}
@font-face {
  font-family: "pro2";
  src: url("../font/NeuePlak-CondBold.ttf") format("truetype");
}
@media (max-width: 767px) {
  body {
    height: 200vh !important;
  }
  body header {
    width: 100%;
    height: 100px;
    color: #e8e8e8;
    margin-top: 500px !important;
  }
  body header .sub-title {
    margin-top: -500px !important;
    width: 100%;
    font-size: 20px !important;
    justify-content: space-between !important;
  }
  body header .sub-title span a {
    padding: 0px !important;
  }
  body h1 {
    font-size: 100px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 100px;
    color: #e8e8e8;
  }
  body footer {
    width: 500px !important;
    margin: 0 auto;
  }
  body footer .list {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e8e8e8;
    font-size: 25px !important;
  }
  body footer .list:first-child::before {
    content: "";
    height: 250px;
    width: 1px;
    background: #e8e8e8;
    margin-top: -10px;
    margin-left: -100px !important;
  }
  body footer .list ul {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    height: 150vh !important;
  }
  body header {
    margin-top: 500px !important;
  }
  body header .sub-title {
    margin-top: -500px !important;
    width: 100%;
    font-size: 25px !important;
    justify-content: space-around !important;
  }
  body header .sub-title span a {
    padding: 10px !important;
  }
  body h1 {
    font-size: 130px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 100px;
    color: #e8e8e8;
  }
}
body {
  display: block;
  font-family: pro2;
  width: 100%;
  height: 100vh;
  background: url("../img/visual basic3.png") center/cover no-repeat;
}
body header {
  width: 100%;
  height: 100px;
  color: #e8e8e8;
  margin-bottom: 100px;
}
body header .sub-title {
  display: flex;
  font-size: 30px;
  justify-content: end;
  height: 100px;
  line-height: 100px;
}
body header .sub-title span a {
  padding: 30px;
}
body header .sub-title span:last-child a {
  text-decoration: line-through;
}
body header .sub-title span a:hover {
  text-decoration: line-through;
}
body h1 {
  font-size: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  color: #e8e8e8;
}
body .SAYHELLO {
  width: 800px;
  margin: 0 auto;
  font-family: pro2;
}
body .SAYHELLO .form__input {
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 50px;
}
body .SAYHELLO .form__input:last-of-type {
  margin-bottom: 100px;
}
body .SAYHELLO .form__input .form__input-input {
  background-color: transparent;
  display: block;
  width: 100%;
  height: 80px;
  padding: 20px;
  background-color: #c8cbc9;
  border: 1px solid #303030;
  line-height: 20px;
  font-size: 20px;
  border: 1px solid darkblue;
  font-family: pro2;
}
body .SAYHELLO .form__input .form__input-input[name=message] {
  height: 300px;
  line-height: 20px;
  font-family: pro2;
  font-size: 30px;
}
body .SAYHELLO .form__input .form__input-label {
  position: absolute;
  top: -11px;
  left: 18px;
  padding: 0 16px;
  background-color: #cfd3d1;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
}
body .SAYHELLO .form__submit {
  font-family: pro2;
  display: block;
  position: relative;
  height: 50px;
  margin-bottom: 100px;
  margin-top: -50px;
  margin-left: 20px;
  padding: 30px;
  font-size: 30px;
  line-height: 1px;
  background-color: #303030;
  color: #e8e8e8;
  border: none;
}
body .SAYHELLO .form__submit:hover .form__submit-label {
  color: #303030;
}
body .SAYHELLO .form__submit:hover {
  background: #c8cbc9;
}
body .hr {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #e8e8e8;
}
body footer {
  width: 800px;
  margin: 0 auto;
}
body footer .list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e8e8e8;
  font-size: 30px;
}
body footer .list:first-child::before {
  content: "";
  height: 250px;
  width: 1px;
  background: #e8e8e8;
  margin-top: -10px;
}
body footer .list ul {
  margin-right: 30px;
  margin-left: 30px;
}/*# sourceMappingURL=4.css.map */