@import url("../reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");
@font-face {
  font-family: "pro";
  src: url("../font/NeuePlak-CondBold.ttf") format("truetype");
}
@font-face {
  font-family: "pro2";
  src: url("../font/NeuePlak-CondBold.ttf") format("truetype");
}
@media (max-width: 767px) {
  body {
    height: 650vh !important;
    object-fit: cover !important;
  }
  body header .header {
    width: 100%;
    font-size: 20px !important;
    justify-content: space-between !important;
  }
  body header .header span {
    width: 25%;
    display: flex;
    align-items: center;
  }
  body header .header span a {
    text-align: center;
    width: 100%;
    padding: 0px !important;
  }
  body section .title {
    font-size: 60px !important;
  }
  body section .title .sub-title {
    font-size: 70px !important;
  }
  body section .based-title {
    font-size: 25px !important;
  }
  body section .title-icon {
    margin-top: -150px;
    margin-bottom: -150px;
  }
  body .main-section .tap-inner .items img {
    width: 350px !important;
    height: 350px !important;
  }
  body .introduce-section .introduce {
    width: 400px !important;
  }
  body .introduce-section .introduce h1 {
    font-size: 60px !important;
  }
  body .introduce-section .introduce h1 span {
    font-size: 40px !important;
  }
  body .introduce-section .introduce p {
    text-align: center;
    font-size: 15px !important;
    width: 400px !important;
    font-weight: bold;
    line-height: 40px;
  }
  body .introduce-section .introduce .list {
    width: 400px !important;
    font-size: 20px !important;
  }
  body .introduce-section .introduce .list ul {
    margin-right: 40px !important;
  }
  body .after-section .after-section-wrap {
    text-align: center !important;
    grid-template-areas: "fi" "se" "th" "fo" !important;
  }
  body .after-section .after-section-wrap .after-fo {
    text-align: center;
    order: 4;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    height: 550vh !important;
  }
  body header .header {
    width: 100%;
    font-size: 20px !important;
    justify-content: space-between !important;
  }
  body header .header span {
    width: 25%;
    display: flex;
    align-items: center;
  }
  body header .header span a {
    text-align: center;
    width: 100%;
    padding: 0px !important;
  }
  body section .title {
    font-size: 160px !important;
  }
  body section .title .sub-title {
    font-size: 130px !important;
  }
  body section .based-title {
    font-size: 50px !important;
  }
  body section .title-icon {
    margin-top: -150px;
    margin-bottom: -150px;
  }
  body .main-section .tap-inner .items img {
    width: 600px !important;
    height: 600px !important;
  }
  body .introduce-section .introduce {
    width: 600px !important;
  }
  body .introduce-section .introduce h1 {
    font-size: 90px !important;
  }
  body .introduce-section .introduce h1 span {
    font-size: 60px !important;
  }
  body .introduce-section .introduce p {
    font-size: 30px !important;
    width: 600px !important;
  }
  body .introduce-section .introduce .list {
    line-height: 30px !important;
    width: 600px !important;
    font-size: 20px !important;
  }
  body .introduce-section .introduce .list ul {
    margin-right: 40px !important;
  }
  body .after-section .after-section-wrap {
    text-align: center !important;
    grid-template-areas: "fi" "se" "th" "fo" !important;
  }
  body .after-section .after-section-wrap .after-fo {
    text-align: center;
    order: 4;
  }
}
body {
  width: 100%;
  height: 550vh;
  background: url("../img/visual basic3.png") center/cover no-repeat;
  object-fit: cover;
  font-family: pro2;
}
body header {
  width: 100%;
  height: 100px;
  color: #e8e8e8;
}
body header .header {
  display: flex;
  font-size: 30px;
  justify-content: end;
  height: 100px;
  line-height: 100px;
}
body header .header span a {
  padding: 30px;
}
body header .header span:first-child a {
  text-decoration: line-through;
}
body header .header span a:hover {
  text-decoration: line-through;
}
body section {
  height: 400px;
  width: 100%;
}
body section .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 180px;
  color: #e8e8e8;
  margin-bottom: 200px;
}
body section .title .main-title {
  margin-bottom: 30px;
}
body section .title .sub-title {
  font-size: 200px;
  margin-bottom: 30px;
  border: 10px solid #e8e8e8;
  padding: 0 40px 0 40px;
}
body section .title .based-title {
  font-size: 50px;
  margin-bottom: 150px;
}
body section .title .title-icon {
  height: 100px;
  position: relative;
  width: 30px;
}
body section .title .title-icon i {
  transform: rotate(135deg);
  font-size: 30px;
  position: absolute;
  animation: title-icon 1s linear infinite;
}
body section .main-section {
  margin-top: -100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
body section .main-section .tap-inner {
  width: 800px;
  height: 600px;
}
body section .main-section .tap-inner .fhr {
  margin-top: 150px;
}
body section .main-section .tap-inner input[name=tabmenu] {
  display: none;
}
body section .main-section .tap-inner input[id=tab1]:checked ~ .tabs .items {
  left: 0;
}
body section .main-section .tap-inner input[id=tab2]:checked ~ .tabs .items {
  left: -800px;
}
body section .main-section .tap-inner input[id=tab3]:checked ~ .tabs .items {
  left: -1600px;
}
body section .main-section .tap-inner input[id=tab4]:checked ~ .tabs .items {
  left: -2400px;
}
body section .main-section .tap-inner input[id=tab1]:checked ~ .btn label[for=tab1] {
  border-radius: 100%;
  background: dodgerblue;
}
body section .main-section .tap-inner input[id=tab2]:checked ~ .btn label[for=tab2] {
  border-radius: 100%;
  background: dodgerblue;
}
body section .main-section .tap-inner input[id=tab3]:checked ~ .btn label[for=tab3] {
  border-radius: 100%;
  background: dodgerblue;
}
body section .main-section .tap-inner input[id=tab4]:checked ~ .btn label[for=tab4] {
  border-radius: 100%;
  background: dodgerblue;
}
body section .main-section .tap-inner .tabs {
  width: 800px;
  height: 600px;
  overflow: hidden;
  position: relative;
}
body section .main-section .tap-inner .tabs .items {
  width: 3200px;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
body section .main-section .tap-inner .tabs .items div {
  float: left;
  width: 800px;
  height: 600px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 50px;
}
body section .main-section .tap-inner .tabs .items div img {
  width: 800px;
  height: 600px;
}
body section .main-section .tap-inner .btn {
  margin-top: 100px;
  text-align: center;
  line-height: 20px;
  display: block;
}
body section .main-section .tap-inner .btn label {
  box-shadow: 0px 0px 1px 0.2px black;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #e8e8e8;
  cursor: pointer;
  margin-right: 20px;
}
body section .shr {
  margin-top: 150px;
}
body .introduce-section {
  padding: 200px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body .introduce-section .introduce {
  width: 1000px;
  text-align: center;
  color: #e8e8e8;
}
body .introduce-section .introduce h5 {
  font-size: 50px;
  margin-bottom: 100px;
}
body .introduce-section .introduce h1 {
  font-size: 150px;
  margin-bottom: 200px;
}
body .introduce-section .introduce h1 span {
  text-decoration: underline;
  font-size: 100px;
}
body .introduce-section .introduce p {
  margin: 0 auto;
  width: 800px;
  font-size: 30px;
  font-family: "Noto Sans KR", sans-serif;
}
body .introduce-section .introduce .list {
  margin-top: 200px;
  width: 1000px;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
body .introduce-section .introduce .list ul {
  width: 200px;
  text-align: center;
  margin: 0;
}
body .after-section {
  color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .after-section .after-section-wrap {
  display: grid;
  grid-template-areas: "fi se" " fo th";
  width: 500px;
  height: 500px;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
body .after-section .after-fi {
  order: 1;
  grid-area: "fi";
}
body .after-section .after-fi h1 {
  font-size: 50px;
}
body .after-section .after-fi img {
  width: 500px;
  height: 500px;
  border-radius: 0 0 15% 0;
}
body .after-section .after-se {
  order: 2;
  grid-area: "se";
  font-size: 30px;
}
body .after-section .after-th {
  order: 4;
  grid-area: "th";
}
body .after-section .after-th h1 {
  font-size: 50px;
}
body .after-section .after-th img {
  width: 500px;
  height: 500px;
  border-radius: 15% 0 0 0;
}
body .after-section .after-fo {
  order: 3;
  grid-area: "fo";
  font-size: 30px;
  text-align: right;
}

@keyframes title-icon {
  0% {
    bottom: 50%;
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 0;
  }
}/*# sourceMappingURL=1.css.map */